$def with(city_info)

<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta charset="UTF-8">
	<title>城市訊息列表 | Jimmy Chen | jimmy.f.chen@gmail.com</title>
	<link href="/static/v/0.2/themes/united.min.css" rel="stylesheet">
	<link href="/static/v/0.2/strapdown.css" rel="stylesheet">
	<link href="/static/v/0.2/themes/bootstrap-responsive.min.css" rel="stylesheet">
</head>
<body style="">
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner"> 
			<div class="container"> 
				<div id="headline" class="brand">城市訊息列表 | Jimmy Chen | jimmy.f.chen@gmail.com</div>
			</div> 
		</div>
	</div>
	<div class="container" id="content">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>id</th>
					<th>城市名稱</th>
					<th>簡稱</th>
				</tr>
			</thead>
			<tbody>
				$for i in city_info:
				<tr>
					<td>$i.id</td>
					<td>$i.cityname</td>
					<td>豫$i.shortname</td>
				</tr>
			</tbody>
		</table>
		<blockquote>
			<p><strong>updated by Jimmy Chen</strong></p>
			<p><strong>Date: 2018-6-01 儿童节</strong></p>
		</blockquote>
	</div>
</body>
</html>
