<!DOCTYPE html>
<html>
<head>
<title>河南區存儲市場調研訊息添加</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/b.tabs.css">
<style type="text/css">
div.menuSideBar { }
div.menuSideBar li.nav-header { font-size: 16px; padding: 3px 15px; }
div.menuSideBar .nav-list > li > a, div.menuSideBar .dropdown-menu li a { -webkit-border-radius: 0px; -moz-border-radius: 0px; -ms-border-radius: 0px; border-radius: 0px; }
</style>

</head>
<body>

<div class="content">
<div class="container">
<h3 class="page-header" align="center" style="font-size:32px">河南區存儲市場調研訊息添加</h3>
<div class="">
  <div class="row-fluid">
    <div class="col-md-2" style="padding-left: 0px;">
      <div class="well menuSideBar" style="padding: 8px 0px;">
        <ul class="nav nav-list" id="menuSideBar">
          <li class="nav-header" >河南區存儲市場調研訊息添加</li>
          <li class="nav-divider"></li>
          <li mid="tab5" funurl="/vendor_input"><a tabindex="-1" href="javascript:void(0);">廠商信息錄入(測試)</a></li>
          <li mid="tab6" funurl="/customer_input"><a tabindex="-1" href="javascript:void(0);">客戶信息錄入(測試)</a></li>
          <li mid="tab7" funurl="/si_input"><a tabindex="-1" href="javascript:void(0);">SI/ISV信息錄入(測試)</a></li>
          <li mid="tab8" funurl="/expert_input"><a tabindex="-1" href="javascript:void(0);">專家信息錄入(測試)</a></li>
          <li mid="tab9" funurl="/city_info"><a tabindex="-1" href="javascript:void(0);">城市訊息(測試)</a></li>
          <li mid="tab1" funurl="/project_input"><a tabindex="-1" href="javascript:void(0);">項目信息錄入</a></li>
          <li mid="tab2" funurl="/partner_input"><a tabindex="-1" href="javascript:void(0);">集成商信息錄入</a></li>
          <li mid="tab3" funurl="/customer_input"><a tabindex="-1" href="javascript:void(0);">客戶信息錄入</a></li>
          <li mid="tab4" funurl="/expert_input"><a tabindex="-1" href="javascript:void(0);">專家庫信息錄入</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-10" id="mainFrameTabs" style="padding : 0px;"> 
      
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active noclose"><a href="#bTabs_navTabsMainPage" data-toggle="tab">首页</a></li>
      </ul>
      
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="bTabs_navTabsMainPage">
          <div class="page-header">
            <h2 style="font-size: 24px;text-align: left;font-weight: normal;">河南區存儲市場調研主要包括以下幾個部分：
		<p style="font-size:14px;text-align: left; padding-top:15px;">
			1、廠商 2、集成商、代理商 3、招標公司 4、用戶 5、專家庫 6、項目信息等...
		</p>
	    </h2>
            <h2 style="font-size: 24px;text-align: left;font-weight: normal;">統計維度：
		<p style="font-size:14px;text-align: left; padding-top:15px;">
			1. 所有客戶的歷年產出，持續產出，排序得出重點客戶 <br />
			2. 集成商的歷年產出，排序，統計有可能合作的代理商 <br />
			3. 各個廠商的產出，按年統計 <br />
			4. 各個地市的存儲市場出貨統計 <br />
			5. 行業優勢代理商 <br />
		</p>
	    </h2>
	    <h2 style="font-size: 24px;text-align: left;font-weight: normal;">
		<a href="https://sugar.baidu.com/group/ha/report/r_ada15-1ppdytd4-k7n532" target="_blank">Sugar</a>
	    </h2>
          </div>
          <div style="text-align: left;font-size: 20px;line-height: 20px;"> 

</div>

        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/static/bootstrap/js/jquery.min.js"></script> 
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="/static/bootstrap/js/b.tabs.js" ></script> 
<script type="text/javascript" src="/static/bootstrap/js/demo.js" ></script>

<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
<p>Revision: Ver1.0</p>
</div>
</body>
</html>
