$def with (err)


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Jimmy Chen 智能家居系統歡迎您</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<link href="/static/zui.min.css" rel="stylesheet" type="text/css" />
</head>
<body style="background-color: #eeeeee;">
	<div class="panel panel-danger"
		style="width:55%; margin: auto; margin-top: 150px; border: 1px solid #006d45;">
		<div class="panel-heading" style="background-color: #006d45; color: #ffffff;font-size: 14px;">Jimmy 智能家居登錄入口
		</div>
		
		<div class="panel-body" style="height: 300px;background-color: #ffffff;">
			<form method="post" action="/login" class="form-horizontal" name="addForm" id="addForm" style="margin: 0px;">
				<table width="90%" cellpadding="3" cellspacing="3" border="0" height="250px">
					<tr>
						<td rowspan="3" valign="top" width="260px">
							<img src="/static/344.PNG" />
						</td>
						<td align="right" width="100px" height="60px"><label class="control-label" style="font-size: 15px;">用戶名：<label /></td>
						<td>
							<input type="text" class="form-control" name="username" id="userName" placeholder="請錄入用戶名" />
						</td>
					</tr>
					<tr>
						<td align="right" height="60px"><label class="control-label" style="font-size: 15px;">密 &nbsp;&nbsp;碼：<label /></td>
						<td>
							<input type="password" class="form-control" name="password" id="userPwd"  placeholder="請錄入登錄密碼"/>
						</td>
					</tr>
					<tr>
						<td align="center" colspan="2" style="color:#006d45;" valign="top">
						<br />
						<button type="submit" class="btn btn-default btn-success" style="width: 100px;margin-left:100px;">登 &nbsp;&nbsp;錄</button><br /><br />
$if err:
	$if err.err=="pwderr":
		<div align="center" style="color:red;margin-left:100px;">密碼不正確哦，請再次輸入！</div>
	
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
	<div align="center" style="color:#006d45;">感謝好友老化提供技術援助</div>
	
</body>
</html>

