$def with (rootdir)


<br />
<a href="javascript:window.history.go(-1);" target="_self">後退</a> 
<a href="javascript:window.history.go(1);" target="_self">前進</a> 
<hr />
$rootdir.split('/')[-1]
[<a href="/kill?pid=mplayer&fpath=$rootdir">停止</a>]
<hr />
<a href="javascript:window.history.go(-1);" target="_self">後退</a> 
<a href="javascript:window.history.go(1);" target="_self">前進</a> 
<div font-size="20px" color="#1d3c41" align="center">目前已實現之功能：1.城市空氣質量2.自動短信、電話3.文本到語音4.收音機(finished:city list) 下一步計劃：室內PM2.5、語音識別、智能電路、娛樂系統、手機APP等</div> 
<div font-size="20px" color="#1d3c41" align="center">Powered by efeichn.ddns.net!</div> 
