$def with (lightid_arr1,light_stats1,lightid_arr2,light_stats2)
<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>燈光控制管理</title>

<link href="/static/global.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" type="image/x-icon" href="/static/feiqing.ico" />
<script type="text/JavaScript" src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script> 
<style type="text/css">
td {
 text-align: center;
} 
</style>
<script type="text/javascript">
  
  jQuery(function(){
	 jQuery('.img').click(function(){
		 var obj =jQuery(this);
		 var param = "0";
		 if(obj.attr("state") == "on"){
			 param="0";
		 }else{
			 param="1";
		 }
		 jQuery.ajax({
				async:true,
				type:"GET",
				timeout:'1000',
				cache:false,
				url:"/setlight?stats="+param+"&lightid="+obj.attr("key"),
				success:function(response){
					console.log(response);
					obj.attr("state",response);
					obj.attr("src","/static/eg_bulb"+response+".jpg");
				}
		 });
	 });
  });
 
	function get() {
		 jQuery.ajax({
				async:true,
				type:"GET",
				timeout:'1000',
				cache:false,
				url:"/checklight",
				success:function(light_status){
					var objson = eval( '(' + light_status + ')' );
					var ob = JSON.parse(objson);
					console.log("keting "+ob.keting);
					console.log("canting "+ob.canting);
					console.log("chufang "+ob.chufang);
					console.log("yangtai "+ob.yangtai);
					console.log("zhuwo "+ob.zhuwo);
					console.log("ciwo "+ob.ciwo);
					console.log("xishouchi "+ob.xishouchi);
					console.log("cesuo "+ob.cesuo);
						jQuery("img[key='keting']").attr("state",ob.keting);
						jQuery("img[key='keting']").attr("src","/static/eg_bulb"+ob.keting+".jpg");
						jQuery("img[key='canting']").attr("state",ob.canting);
						jQuery("img[key='canting']").attr("src","/static/eg_bulb"+ob.canting+".jpg");
						jQuery("img[key='chufang']").attr("state",ob.chufang);
						jQuery("img[key='chufang']").attr("src","/static/eg_bulb"+ob.chufang+".jpg");
						jQuery("img[key='yangtai']").attr("state",ob.yangtai);
						jQuery("img[key='yangtai']").attr("src","/static/eg_bulb"+ob.yangtai+".jpg");
						jQuery("img[key='zhuwo']").attr("state",ob.zhuwo);
						jQuery("img[key='zhuwo']").attr("src","/static/eg_bulb"+ob.zhuwo+".jpg");
						jQuery("img[key='cewo']").attr("state",ob.cewo);
						jQuery("img[key='cewo']").attr("src","/static/eg_bulb"+ob.cewo+".jpg");
						jQuery("img[key='xishouchi']").attr("state",ob.xishouchi);
						jQuery("img[key='xishouchi']").attr("src","/static/eg_bulb"+ob.xishouchi+".jpg");
						jQuery("img[key='cesuo']").attr("state",ob.cesuo);
						jQuery("img[key='cesuo']").attr("src","/static/eg_bulb"+ob.cesuo+".jpg");
				}
		 });
} 
	setInterval("get()",15000);
</script>
</head>
<body>
    <table class="top" border="0" cellspacing="0" cellpadding="0">
        <colgroup><col width="30px" /><col/><col width="28px" /></colgroup>
        <tr>
            <td><button style="display:none"></button></td>
            <td>灯光管理控制</td>
            <td>name<a href="#"><img src="/static/account.png" alt="用户中心" width="25" height="25" style="vertical-align:middle" /></a></td>
        </tr>
    </table>
    <table border="0" align="center" style="margin:10px auto" cellspacing="1" cellpadding="1">
<tr>
$for i in range(0,len(lightid_arr1)):
	<td><img class="img" key="$lightid_arr1[i]"  state="${light_stats1[i]}" src="/static/eg_bulb${light_stats1[i]}.jpg" /></td>

</tr>
				<tr >
						<td>客廳</td>
						<td>餐廳</td>
						<td>廚房</td>
						<td>陽臺</td>
				</tr>
<tr>
$for i in range(0,len(lightid_arr2)):
	<td><img class="img" key="$lightid_arr2[i]"  state="${light_stats2[i]}" src="/static/eg_bulb${light_stats2[i]}.jpg" /></td>

</tr>
				<tr>
						<td>主臥</td>
						<td>次臥</td>
						<td>洗手池</td>
						<td>廁所</td>
				</tr>
    </table>
<table class="top" border="0" cellspacing="0" cellpadding="0">
      <colgroup><col width="20%"/><col span="8" /><col width="20%"/> </colgroup>
        <tr>
            <td><button style="display:none"></button></td>
            <td>家居環境</td>
            <td><a href="/light" target="_self">燈光照明</a></td>
            <td>插座開關</td>
            <td>紅外控制</td>
            <td>娛樂休閑</td>
            <td>安防保全</td>
            <td>無線視頻</td>
            <td>語音控制</td>
            <td><button style="display:none"></button></td>
        </tr>
    </table>
<div data-role="footer" style="text-align:center;">
    <p style="color:#B4B4B4;margin-top:10px">小Q已經到來，每週都有新改變！</p>
</div>
</body>
</html>
