$def with(partner,zbgs)

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>存儲項目信息錄入頁面</title>
  <link rel="stylesheet" href="/static/s/style.css" media="screen" type="text/css" />
  <style type="text/css">
    .txt {
      width: 50%;
      background: #FFF;
      margin: 0 0 5px;
      padding: 4px;
      border-width: 1px;    
      border-style: inset;    
      border-color: initial;    
      border-image: initial;
      font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;

    }
  </style>
</head>
<body>
  <div class="container" >  
  <form id="contact" action="/project_input" method="post">
    <h3 style="margin-bottom: 10px;">項目信息錄入</h3>
    <fieldset>
      <input name="customer" placeholder="客戶名稱" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input name="pname" placeholder="項目名稱" type="text" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="開標日期" type="date" name="dt" tabindex="3" class="txt" style="width: 70%"> 
      <input name="dt" type="radio" value="1990-10-01" onclick="if(this.c==1){this.c=0;this.checked=0} else this.c=1" style="margin-left: 15px; margin-right: 5px;" tabindex="4"/> <font style="color: #232121; font-size: 14px">無法確定</font>
    </fieldset>
     <fieldset>
	     <input placeholder="地市名" type="text" name="city" list="city_list" tabindex="5" >
	     <datalist id="city_list" > 
          	<option value ="A-郑州" />
          	<option value ="B-开封" />
          	<option value ="C-洛阳" />
          	<option value ="D-平顶山" />
          	<option value ="E-安阳" />
          	<option value ="F-鹤壁" />
          	<option value ="G-新乡" />
          	<option value ="H-焦作" />
          	<option value ="J-濮阳" />
          	<option value ="K-许昌" />
          	<option value ="L-漯河" />
          	<option value ="M-三门峡" />
          	<option value ="N-商丘" />
          	<option value ="P-周口" />
          	<option value ="Q-驻马店" />
          	<option value ="R-南阳" />
          	<option value ="S-信阳" />
          	<option value ="U-济源" />
	     </datalist>
    </fieldset>
    <fieldset>
      <input placeholder="總金額" name="count_sum" type="number" tabindex="6"  class="txt" step="0.01">
    </fieldset>
    <fieldset>
      <input placeholder="存儲金額" name="ds_sum" type="number" tabindex="7"  class="txt" step="0.01">
    </fieldset>
    <fieldset>
      <textarea placeholder="配置" name="config" tabindex="8" ></textarea>
    </fieldset>
    <fieldset>
	     <input placeholder="中標廠商" type="text" name="win_manu" list="manu_list" tabindex="9" >
	     <datalist id="manu_list" > 
          	<option value ="曙光" label="Sugon"/>
          	<option value ="华为" label="HuaWei"/>
          	<option value ="浪潮" label="Inspur"/>
          	<option value ="新华三" label="H3C"/>
          	<option value ="宏杉" label="MacroSAN"/>
          	<option value ="联想" label="Lenovo"/>
          	<option value ="IBM" />
          	<option value ="DELL" />
          	<option value ="EMC" />
          	<option value ="NetApp" />
	     </datalist>
    </fieldset>
    <fieldset>
      <input name="partner" placeholder="集成商" type="text" tabindex="10" list="p_list">
      <datalist id="p_list">
      	$for i in partner:
		<option value=$i.partner />

      </datalist>
    </fieldset>
    <fieldset>
      <input name="zbgs" placeholder="招標公司" type="text" tabindex="11" list="zbgs_list">
      <datalist id="zbgs_list">
	      $for i in zbgs:
	      	<option value="$i.zbgs" />

      </datalist>
    </fieldset>
    <fieldset>
       <select name="isJoin" class="txt" tabindex="12">
          <option value ="0">曙光未參與</option> 
          <option value ="1">曙光參與</option>
          <option value ="2">未知</option>          
      </select>
    </fieldset>
    <fieldset>
      <textarea name="ps" placeholder="備註" tabindex="13" ></textarea>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">確定</button>
    </fieldset>
     <h4>下拉菜單不確定保持默認即可！ 單位：萬</h4>
  </form>
</div>
</body>
</html>
