<html>
<head>
<meta charset="utf-8">
<link href="/static/switch.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="mui-tab-con clearfix">
        <form class="mui-form" name="" method="post" action="#" id="">
            <fieldset>
                <legend>表单标题</legend>
                <div class="mui-switch-con">
                    <label><input class="mui-switch mui-switch-anim" type="checkbox"> 默认未选中</label>
                </div>
                <div class="mui-switch-con">
                    <label><input class="mui-switch mui-switch-anim" type="checkbox" checked=""> 默认选中</label>
                </div>

            </fieldset>
        </form>
    </div>
</body>
</html>
