<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>紅外控制</title>

<link href="/static/global.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" type="image/x-icon" href="/static/feiqing.ico" />
<style type="text/css">
td {
 text-align: center;
} 
</style>
</head>
<body>
    <table class="top" border="0" cellspacing="0" cellpadding="0">
        <colgroup><col width="30px" /><col/><col width="28px" /></colgroup>
        <tr>
            <td><button style="display:none"></button></td>
            <td>紅外控制</td>
            <td>name<a href="#"><img src="/static/account.png" alt="用户中心" width="25" height="25" style="vertical-align:middle" /></a></td>
        </tr>
    </table>

窗簾
電視
電風扇
空調
客廳

分別形象的展示所要控制的對象
<table>
<tr><td>ON-OFF</td><td>左</td><td>右</td></tr>
<tr><td>上</td><td>下</td><td>1</td></tr>
<tr><td>2</td><td>4</td><td>5</td></tr>
<tr>4<td></td><td></td><td></td></tr>
<tr>5<td></td><td></td><td></td></tr>
<tr>6<td></td><td></td><td></td></tr>
<tr>7<td></td><td></td><td></td></tr>
<tr>8<td></td><td></td><td></td></tr>
<tr>9<td></td><td></td><td></td></tr>
<tr>10<td></td><td></td><td></td></tr>
</table>
<img src="/static/control.jpg" style="vertical-align:middle" />

<div data-role="footer" style="text-align:center;">
    <p style="color:#B4B4B4;margin-top:10px">小Q已經到來，每週都有新改變！</p>
</div>
</body>
</html>
