<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>灯光管理</title>

<link href="/static/global.css" rel="stylesheet" type="text/css" />
<script type="text/JavaScript" src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script> 
<script type="text/javascript">
  
</script>
</head>
<body>
    <table class="top" border="0" cellspacing="0" cellpadding="0">
        <colgroup><col width="30px" /><col/><col width="28px" /></colgroup>
        <tr>
            <td><button style="display:none"></button></td>
            <td>灯光管理控制</td>
            <td>name<a href="#"><img src="/static/account.png" alt="用户中心" width="25" height="25" style="vertical-align:middle" /></a></td>
        </tr>
    </table>
	
    <table border="1" width="80%" align="center" style="margin:10px auto">
        <tr>
            <td><img class="img" state="" src="/static/eg_bulbon_off.jpg" /></td>
            <td><img class="img" state="" src="/static/eg_bulb.jpg" /></td>
            <td><img class="img" state="" src="/static/eg_bulb.jpg" /></td>
            <td><img class="img" state="" src="/static/eg_bulb.jpg" /></td>
        </tr>
				<tr >
						<td>廁所</td>
						<td>主臥</td>
						<td>次臥</td>
						<td>陽臺</td>
				</tr>
        <tr>
            <td><img class="img" state="" src="/static/eg_bulb.jpg" /></td>
            <td><img class="img" state="" src="/static/eg_bulb.jpg" /></td>
            <td><img class="img" state="" src="/static/eg_bulb.jpg" /></td>
            <td><img class="img" state="" src="/static/eg_bulb.jpg" /></td>
        </tr>
				<tr>
						<td>客廳</td>
						<td>餐廳</td>
						<td>廚房</td>
						<td>洗手池</td>
				</tr>
    </table>
<div data-role="footer" style="text-align:center;">
    <p style="color:#B4B4B4;margin-top:10px">小Q已經到來，每週都有新改變！</p>
</div>
</body>
</html>
