<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Jimmy Chen 智能家居系統歡迎您</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<link href="/static/zui.min.css" rel="stylesheet" type="text/css" />
<style>
table{
     border-collapse: collapse;/* 边框合并属性  */
	 width:400px;
	margin-left:50px;
	margin-top:50px;	
	}
th{
     border: 0px solid #666666;
	}
td{
     border: 0px solid #666666;
	}
</style>
</head>
<table>
<tr>
<td>
&nbsp;&nbsp;您提交的任何文本將會被轉換成語音，并從制定的音頻埠口播放。默認是從樹莓派的jack音頻口播放。<br/>
</td>
</tr>
<tr>
<td>
<form action="/voice" method="post">
<textarea name="txt" rows="6" cols="80" class="form-control" placeholder="請輸入想要轉換為語音的文字" onpropertychange="if(this.scrollHeight>80) this.style.posHeight=this.scrollHeight+5"></textarea>
<button type="submit" class="btn btn-default btn-success" style="width: 100px;margin-left:100px;margin-top:5px">提 &nbsp;&nbsp; 交</button>
</form>
</td>
</tr>
<tr>
<td>
&nbsp;&nbsp;本技術是採用科大訊飛的語音合成技術。<br />
&nbsp;&nbsp;特別感謝科大訊飛提供的API二次開發接口!
</td>
</tr>
</table>
